[run]
branch = True
source =
    app
    tests
omit =
    venv/*
    */site-packages/*

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
