__pycache__/
.vercel
alembic.ini

config/keys/private_key.pem
config/keys/public_key.pem

# Render files
render.yaml
render.json

.env
public_key
private_key
*.pem
*.key
*.p12
*.pfx
env.
venv
debug_report_api.py
debug_report_api.log
test.db
uploads/
static/media/
content_classifier.joblib
content_vectorizer.joblib
app/firebase-credentials/
scripts/__pycache__/
data/amenhotep/*.onnx
rust/**/target/
logs/
.coverage
coverage.xml
.alembic*.db
